<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
	<link href="./styles/index.css" rel="stylesheet">
	<link rel="stylesheet" href="~/css/contato.css" asp-append-version="true" />
</head>
<body>

</body>
</html>
<div class="form-wrap">
	<div class="tabs">
		<h3 class="signup-tab"><a class="active" href="#signup-tab-content">Contato</a></h3>
		
	</div><!--.tabs-->

	<div class="tabs-content">
		<div id="signup-tab-content" class="active">
			<form class="signup-form" action="" method="post">
				
				<input type="text" class="input" id="user_name" autocomplete="off" placeholder="Nome">
				<input type="email" class="input" id="user_email" autocomplete="off" placeholder="E-mail">
                <textarea type="text" class="input" id="user_name" autocomplete="off" placeholder="Assunto"></textarea>
				<button id="btn_send" class="button" type="button" onclick="enviar()">Enviar</button>
			
			
					
				
				
				
			</form><!--.login-form-->
			<div class="help-text">
				<p>Ao se inscrever, você concorda com nossos</p>
				<p><a href="#">termos de serviço!</a></p>


			
</div>
	</div>
		</div>
			</div>
